/* Coolors Exported Palette - coolors.co/262226-322e37-2e2831-f0f7ee-87bba2 */

/* HSL */
$color1: hsla(300%, 6%, 14%, 1);
$color2: hsla(267%, 9%, 20%, 1);
$color3: hsla(280%, 10%, 17%, 1);
$color4: hsla(107%, 36%, 95%, 1);
$color5: hsla(151%, 28%, 63%, 1);

/* RGB */
$darkblack: rgba(38, 34, 38, 1);
$black: rgba(50, 46, 55, 1);
$lightblack: rgba(46, 40, 49, 1);
$white: rgba(240, 247, 238, 1);
$green: rgba(135, 187, 162, 1);