/* Coolors Exported Palette - coolors.co/262226-322e37-2e2831-3a506b-5bc0be */

/* HSL */
$color1: hsla(300%, 6%, 14%, 1);
$color2: hsla(267%, 9%, 20%, 1);
$color3: hsla(280%, 10%, 17%, 1);
$color4: hsla(213%, 30%, 32%, 1);
$color5: hsla(179%, 44%, 55%, 1);

/* RGB */
$color1: rgba(38, 34, 38, 1);
$color2: rgba(50, 46, 55, 1);
$color3: rgba(46, 40, 49, 1);
$color4: rgba(58, 80, 107, 1);
$color5: rgba(91, 192, 190, 1);